git+https://github.com/concristina/django-admin-row-actions#egg=django-admin-row-actions
git+https://github.com/concristina/django-admincommand.git@filefield#egg=django-admincommand
git+https://github.com/concristina/django-hijack.git#egg=django-hijack
git+https://github.com/concristina/django-material.git#egg=django-material
git+https://github.com/concristina/django-sneak.git@#egg=django-sneak
git+https://github.com/concristina/django-versatileimagefield@one-dimension-resize#egg=django-versatileimagefield
django-annoying==0.10.4
django-anymail==4.3
django-attachments==1.3
django-dbbackup==3.2.0
django-extensions==2.1.3
django-fancy-cache==0.10.0
django-formtools==2.1
django-geojson==2.11.0
django-leaflet==0.24.0
django-localflavor==2.1
django-model-utils==3.1.2
django-taggit==0.23.0
django==2.1.2
djangorestframework==3.9.0
easyimap==0.6.3
factory_boy==2.11.1
html2text==2018.1.9
jsonfield==2.0.2
nameparser==1.0.1
phonenumbers==8.9.16
Pillow==5.3.0
pyexcel-xlsx==0.5.6
django-environ==0.4.5
